<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Koshchey game</h3>
      <hr>
      <input type="text" [(ngModel)]="name">
      <p>{{ name }}</p>

      <button (click)="play()">play</button>

      <div *ngIf="game">
        <app-deck [player]="'p1'" [deck]="game.p1"></app-deck>
        <app-deck [player]="'p2'" [deck]="game.p2"></app-deck>
      </div>

      <div *ngIf="game">
        <div *ngFor="let turn of game.logs">
          <!-- <app-card></app-card> -->
          {{ turn.round }}
        </div>
      </div>
    </div>
  </div>
</div>